* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 15pt;
    font-style: normal;
}
/*

*/
header {
    display: flex;
    background-color: #ddd;
    justify-content: center;
    align-items: center;
}
.inner-header {
    display: flex;
    justify-content: space-between;
    background-color: #761214;
    width: 1200px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.logo {
    height: 120px;
    width: auto;
}
.header-links {
    display: flex;
    margin-right: 50px;
    min-width: 450px;
    align-items: center;
    justify-content: space-between;
}
.header-link {
    color: #fff;
    text-decoration: none;
}
/*

*/
.main-body {
    display: flex;
    margin: 10px;
    flex-grow: 1;
    justify-content: center;
}
body {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #eee;
}
.second-body {
    display: flex;
    border-radius: 10px;
    width: 1200px;
    justify-content: left;
    background-color: #fff;
}
.inner-body {
    display: flex;
    margin: 10px;
    max-width: 1200px;
    justify-content: left;
}
/*

*/
footer {
    display: flex;
    background-color: #00f;
    justify-content: center;
    align-items: center;
}
.inner-footer {
    display: flex;
    background-color: #0ff;
    width: 1200px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
