* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 15pt;
    font-style: normal;
}
html {
    overflow-x: hidden;
}
@media (max-width: 100vh) {
    * {
        font-size: 18px;
    }
}
@media (max-width: 50vh) {
    * {
        font-size: 15px;
    }
}
/*

*/
.mainpage {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}
.mainpage-image {
    width: 100%;
    height: auto;
}
.hamburger {
    display: none;
}
@media (max-width: 100vh) {
    .hamburger {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: 56px;
        align-items: flex-end;
        text-align: right;
    }
    .burger-links-align {
        display: flex;
        margin-top: 140px;
        height: 100px;
        justify-content: space-between;
        flex-direction: column;
    }
}
.burger-links {
    position: absolute;
    top: -65px;
    background: #761214;
    transition: translate 350ms;
    translate: 306px;
    height: 100vh;
    width: 250px;
}
.burger-link {
    padding-right: 40px;
    color: #fff;
    text-decoration: none;
}
.burger-box {
    display: flex;
    flex-direction: column;
    gap: 9.5px;
}

.burger-box::before,
.burger-box::after,
.burger-box input {
    z-index: 2;
    content: "";
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 100px;
    transition:
        opacity 350ms,
        width 350ms,
        rotate 350ms,
        transform 350ms;
    transform-origin: left center;
    animation-timing: 200ms ease-in-out;
}

.burger-box:has(input:checked)::before {
    display: inline-block;
    rotate: 45deg;
    width: 39.5979797464px;
    transform: translate(0px, -2px);
}
.burger-box:has(input:checked)::after {
    rotate: -45deg;
    width: 39.5979797464px;
    transform: translate(0px, 2px);
}
.burger-box:has(input:checked) + aside {
    translate: 56px;
}

.burger-box input {
    appearance: none;
    outline: none;
    pointer-events: none;
    margin: 0;
    cursor: pointer;
}

.burger-box input:checked {
    opacity: 0;
}
/*





*/
header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-header {
    display: flex;
    justify-content: space-between;
    background-color: #761214;
    width: 1200px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.logo {
    margin: 20px;
    height: 80px;
    width: auto;
}
.header-links {
    display: flex;
    margin-right: 50px;
    min-width: 450px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 100vh) {
    .header-links {
        display: none;
    }
}
.header-link {
    color: #fff;
    text-decoration: none;
}
/*

*/
.main-body {
    display: flex;
    margin: 10px;
    flex-grow: 1;
    justify-content: center;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}
.second-body {
    padding: 10px;
    display: flex;
    border-radius: 10px;
    width: 1200px;
    justify-content: center;
    background-color: #fff;
}
.inner-body {
    display: flex;
    margin: 10px;
    max-width: 1200px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: left;
}
.aligned-body {
    display: flex;
    max-width: 1200px;
    justify-content: left;
}
.alert {
    display: flex;
    background-color: #761214;
    max-width: 1180px;
    margin: 10px;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
}

@media (max-width: 100vh) {
    .aligned-body {
        align-items: center;
        flex-direction: column;
    }
}
.headline {
    font-size: 24pt;
    font-weight: bold;
}
@media (max-width: 50vh) {
    .headline {
        font-size: 24px;
    }
}

.videos {
    max-width: 560px;
    text-align: center;
    font-size: 12pt;
}
.drum {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 11pt;
    padding-right: 25px;
}
.drum-image {
    max-width: 360px;
}
.neighbor {
    max-width: 480px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 1vh;
}
@media (max-width: 100vh) {
    .drum {
        font-size: 11px;
    }
    .drum-image {
        max-width: 260px;
    }
    .neighbor {
        max-width: 280px;
    }
}
@media (max-width: 50vh) {
    .drum-image {
        max-width: 200px;
    }
    .neighbor {
        max-width: 140px;
    }
}
@media (max-width: 40vh) {
    .neighbor {
        max-width: 100px;
    }
}
/*

*/
footer {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-footer {
    display: flex;
    background-color: #761214;
    width: 1180px;
    margin: 10px;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.inner-footer * {
    font-size: 16px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width: 100vh) {
    .inner-footer {
        flex-direction: column;
    }
    .inner-footer * {
        font-size: 12px;
    }
}
